{% extends "layout.html" %}

{% block pageTitle %}
Interaction Design Clan Charter
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">
        Interaction Design Clan Charter
      </h1>

      <div>
        <h2>Our pledge to each other</h2>
      </div>

    </div>

    <div class="govuk-!-margin-top-5 govuk-!-padding-left-0 govuk-grid-column-three-quarters">
      <p>Defined by the Clan, to state our values, our culture and
        how we will work together. The team principles are connected, like a jigsaw, with each one being equally
        important to the full picture of us as a Clan and our culture</p>
    </div>

    <div class="govuk-grid-row">
   

    <div class="govuk-grid-column-one-half govuk-!-margin-top-5">

      <ul class="govuk-list govuk-list--bullet">

        <li>Respect team members</li>
        <li>Have a shared purpose and meaning</li>
        <li>Listen </li>
        <li>Have a managable workloads to avoid burn out </li>
        <li>Share knowledge so we can all learn</li>
        <li>Ask questions before making assumptions</li>
        <li>Support each other</li>
        <li>It's ok to not know everything - we have different skillsets</li>
        <li>Be kind</li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-half govuk-!-margin-top-2">
      <p><img src="{{ asset_path }}images/values.jpg" alt="" width=80% height=80%></p>
    </div>
</div>

  </main>
</div>


{% endblock %}