{% extends "layout.html" %}

{% block pageTitle %}
The Interaction Design Clan
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <!--<main class="govuk-!-margin-top-0" id="main-content" role="main">-->


    <div class="govuk-panel govuk-panel--banner">

      <h1 class="govuk-panel__title">
        The Interaction Design (IxD) Clan
      </h1>


      <div>
        <h2>Who we are and what we're about</h2>
      </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>This mini site has been created to increase awareness of us and what we do by sharing details of the Interaction Design Clan and our strategy, including the areas listed below:  
           </p>
      </div>
    </div>



<div class="govuk-!-margin-top-5">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="who-we-are">Who we are</a>
      </li>
      <li>
        <a href="clan-charter">Clan Charter</a>
      </li>
      <li>
        <a href="mission">Our Mission</a>
      </li>
      <li>
        <a href="vision">Our Vision</a>
      </li>
      <li>
        <a href="principles-and-good-practice">IxD Principles & Good Practice</a>
      </li>
      <li>
        <a href="ways-of-working">Ways of Working</a>
      </li>

    </ul>
</div>
</main>
</div>

{% endblock %}