{% extends "layout.html" %}

{% block pageTitle %}
Our mission
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">
        Our Mission 
      </h1>


      <h2 class="white-govuk-heading-m">Understand, collaborate and design
      </h2>
    </div>

    <div class="govuk-grid-row">
      <!-- lhs menu
      <div class="govuk-grid-row">
        <div class="govuk-!-margin-top-5 govuk-grid-column-one-quarter">
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="who-we-are">Who we are</a>
            </li>
            <li>
              <a href="clan-charter">Clan Charter</a>
            </li>
            <li>
              <a href="mission">Our Mission</a>
            </li>
            <li>
              <a href="vision">Our Vision</a>
            </li>
            <li>
              <a href="principles-and-best-practice">IxD Principles & Best Practice</a>
            </li>
            <li>
              <a href="https://design-system.service.gov.uk">Ways of Working</a>
            </li>
  
          </ul> ---- 
        </div>-->

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>As a unified team of Interaction Designers, our mission is to collaborate and create consistent,
          user-centred
          designs for easy-to-use, accessible services which meet user and business needs and are grounded in user
          research, insights and a thorough understanding of the problem space so users can be more efficient and
          better
          able to concentrate on what they need to do.</p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5">
        <p><img src="{{ asset_path }}images/mission.jpg" alt="" width=100% height=100%></p>
      </div>
    </div>

  </main>
</div>


{% endblock %}