{% extends "layout.html" %}

{% block pageTitle %}
Principles and good practice
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Principles and good practice</h1>
      <p></p>

    </div>




    <div class="govuk-grid-row">
      
<!--
      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5"></div>
      <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Back to top
        </a>
      </div>
      -->

<!--content-->
      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">

        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ul class="gem-c-contents-list__list">
     

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-1">1. Understand ALL users; needs, behaviours and pain points</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-2">2. Design accessibly</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-3">3. Follow Gestalt laws</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-4">4. Reduce cognitve load</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-5">5. Support / prevent users making mistakes</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-6">6. Make users do less</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-7">7. Consider context</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-8">8. Design a seamless experience</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-9">9. Design with data and design logic</a>
  
          </li>
          
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      
        <p>
          As a Clan we have pulled together a set of principles and good practices which we use for Interaction Design
          to provide consistency and guidance to how we apply design rationale and practices leading to great
          interaction design and a
          great user experience.
        </p>




        <!--principle 1-->
        <h2 class="govuk-heading-m" id="principle-1">1. Understand ALL users; needs,
          behaviours and pain points</h2>

        <p>...so that we are meeting ALL types of user needs for ALL users.</p>
        <div class="govuk-body">User needs come in different forms; designing for
          information-based and task-based needs will lead to services which allow users to accomplish their tasks
          while designing for behaviour-based needs improves the experience as it will have been designed for how they
          use the service and avoids 'fudges' and workarounds.
          <p class="govuk-!-margin-top-5">Good practice includes:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Understand the research insights</li>
            <li>Use needs-based personas</li>
            <li>Consider both user needs (including accessibility needs) and business needs</li>
            <li>Fix or mitigate user pain points</li>
            <li>Factor in user behaviours</li>
            <li>Understand 'how' the user does xyz</li>
            <li>Understand 'why' the user does xyz</li>
            <li>Think about what's missing (to feed into UR/workshops)</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 2 -->

        <h2 class="govuk-heading-m" id="principle-2">2. Design accessibly from the
          start</h2>

        <p>...so that we are inclusive.</p>
        <div class="govuk-body">Designing for accessibly from the start reduces rework and time, is morally
          the right thing to do and is a legal requirement.
          <p class="govuk-!-margin-top-5">Good practice includes:</p>

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Use sufficient background/foreground colour contrast</li>
            <li>Use industry recommended sizes for interactive components</li>
            <li>Design structure into pages (headings of different levels, lists...)</li>
            <li>Visually indicate the page focus</li>
            <li>Avoid images of text</li>
            <li>Do not represent information using just colour on its own</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <!--principle 3-->
        <h2 class="govuk-heading-m" id="principle-3">3. Follow Gestalt laws</h2>

        <p>...so that we design for natural human perception.</p>
        <div class="govuk-body">Gestalt laws are principles which relate to how people naturally perceive
          visual stimuli, group things together and simplify complex objects. Designers should use these to organise
          content to maximise natural perception:

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Law of proximity</li>
            <li>Law of closure</li>
            <li>Law of similarity</li>
            <li>Law of continuity</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 4-->
        <h2 class="govuk-heading-m" id="principle-4">4. Reduce cognitive load</h2>
        <p>...so that we don't overload users.</p>
        <div class="govuk-body">Unnecessary demands being made on users' mental capacity when completing a task can lead
          to
          feeling overwhelmed, anxious and frustrated while increasing mistakes. We should design to support user's
          short-term memory capacity and allow them to focus on one task at a time.
          <p class="govuk-!-margin-top-5">Good practice guidance:</p>

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Prefill data</li>
            <li>Use summary pages to playback to users</li>
            <li>Make it easy to compare data from different sources</li>
            <li>Miller's law (chunking) to help memory limitations</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 5-->
        <h2 class="govuk-heading-m" id="principle-5">5. Support / prevent users making mistakes</h2>
        <p>...so that users make less errors and can recover from mistakes.</p>
        <div class="govuk-body">Making mistakes can be frustrating and increase anxiety when users are interacting with
          a service. To avoid these negative emotions, we should design to reduce in the incidence of errors but also
          for recovery when mistakes do occur.
          <p class="govuk-!-margin-top-5">Good practice guidance:</p>

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Allow users to undo actions</li>
            <li>Provide confirmation of actions e.g. save and delete</li>
            <li>Provide logical options for checkboxes / radio buttons</li>
            <li>Think error recovery and error prevention</li>
            <li>Make users explicity confirm destructive actions e.g. are you sure you want to delete?</li>
            <li>Add helpful context e.g. hint text</li>
            <li>Include helpful validation messages</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 6-->

        <h2 class="govuk-heading-m" id="principle-6">6. Make users do less</h2>
        <p class="govuk-body">...so that the experience is faster and easier for users.</p>
        <div class="govuk-body">A series of additional interactions add up to an experience littered with unnecessary
          interactions which slow the user down and increase effort. Remove unnecessary interactions when the user can
          achieve the same goal with less effort and it doesn't impact on their ability to process information. What
          seems like small interactions will add up to incremental improvements to the overall experience.
          <p class="govuk-!-margin-top-5">Good practice guidance:</p>

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">

            <li>Pre-populate, auto filter, remove redundancies</li>
            <li>Avoid unnecessary or extra interactions / provide short cuts</li>
            <li>Reduce scrolling (use back to top, anchor links)</li>
            <li>Fitt's law - time relative to size and distance</li>
            <li>Reduce repetitive interactions, (multiple instead of individual) </li>
          </ul>
        </div>

        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 7-->
        <h2 class="govuk-heading-m" id="principle-7">7. Consider context </h2>

        <p class="govuk-reason govuk-!-padding-left-5">...so that we are designing for user's circumstances and so users
          understand their circumstances in relation to using the service.</p>
        <div class="govuk-body">Understanding users' circumstances helps us to design for their constraints, while
          providing context helps users to understand where they are, what they can to do next...etc.
          Providing information / functionality in context (at the point the user is most likely to need it) saves the
          user hunting for it or missing it altogether.

          <br>
          <br>
          All these context related considerations should help manage user expectations, leading to a clearer
          experience.

          <p class="govuk-!-margin-top-5">Good practice guidance:</p>
          <ul class="govuk-!-padding-left-9">
            <li>Avoid dead-ends</li>
            <li>Explain what will happen next</li>
            <li>Tell users what they need</li>
            <li>Access to / content at the point users need it</li>
            <li>Indicate timescales</li>
            <li>Consider the end-2-end journey</li>
            <li>Consider environment, IT confidence, pressures and constraints</li>
            <li>Provide timely system feedback</li>
          </ul>
        </div>

<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



        <!--principle 8-->
        <h2 class="govuk-heading-m" id="principle-8">8. Design a seamless experience
        </h2>

        <p class="govuk-reason govuk-!-padding-left-5">...so that the user experience is familiar and predictable.</p>
        <div class="govuk-body">Users learn how a service looks and works as they are using it. By having consistent
          designs and interactions, we are helping users to learn more quickly, building on their familarity and
          re-enforcing their mental models of how to interact with the services.
          <p class="govuk-!-margin-top-5">Good practice guidance:</p>

          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>Re-use patterns / code where possible and appropriate to conform with user expectations</li>
            <li>Avoid bespoke designs where possible</li>
            <li>Make sure systems look / behave the same</li>
            <li>Maintain documentation e.g. Design histories, design decisions, other IxD dcoumentation</li>
          </ul>
        </div>

<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 9-->
        <h2 class="govuk-heading-m" id="principle-9">9. Design with data and design
          logic</h2>

        <p>...so that everything is grounded in insights and has design rationale.</p>

          <div class="govuk-body">Insights and design rationale are essential to designing services which meet user
            needs and expectations rather than creating shiny new functionality which confuses users, is unused or even
            hinders their use of the service.
            <p class="govuk-!-margin-top-5">Good practice guidance:</p>

            <ul class="govuk-list--bullet govuk-!-padding-left-7">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Follow User Centred Design best practice</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
            </ul>

          </div>

<!--next and previous
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="gem-track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="/universal-credit/what-youll-get" class="govuk-link gem-c-pagination__link govuk-link--no-underline" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/universal-credit/what-youll-get" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text govuk-!-padding-left-1">Previous</span>
          </span>
          <br>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">What you'll get</span>
        </a>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/universal-credit/how-youre-paid" class="govuk-link gem-c-pagination__link govuk-link--no-underline" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/universal-credit/how-youre-paid" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text govuk-!-padding-left-1">Next</span>
          </span>
          <br>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">How you're paid</span>
        </a>
      </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">
  
</nav>
-->



<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>



       



      </div>
  </main>
</div>

{% endblock %}