{% extends "layout.html" %}

{% block pageTitle %}
Principles and good practice
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Principles and good practice</h1>
      <p></p>
    </div>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>
          As a Clan we have pulled together a set of principles and good practices which we use for Interaction Design
          to provide consistency and guidance to how we apply design rationale and practices leading to improved
          interaction design and a
          better user experience.
        </p>



        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  1. Understand ALL users; needs, behaviours and pain points
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>...so that we are meeting all types of user needs for ALL users.</p>
              <div class='govuk-body'>User needs come in different forms; designing for
                information-based and task-based needs will lead to services which allow users to accomplish their tasks
                while designing for behaviour-based needs improves the experience as it will have been designed for how
                they
                use the service and avoids 'fudges' and workarounds.
                <p class="govuk-!-padding-left-5">Good practice includes:</p>
                <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                  <li>Understand the research insights</li>
                  <li>Use needs-based personas</li>
                  <li>Consider both user (including accessibility) and business needs</li>
                  <li>Fix or mitigate user pain points</li>
                  <li>Factor in user behaviours</li>
                  <li>Understand 'how' the user does xyz</li>
                  <li>Understand 'why' the user does xyz</li>
                  <li>Think about what's missing (to feed into UR/workshops)</li>
                </ul>
              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    2. Design accessibly from the start
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>...so that we are inclusive.</p>
                <div class='govuk-body'>Designing for accessibly from the start reduces rework and time, is morally
                  the right thing to do and is a legal requirement.
                  <p class="govuk-!-padding-left-5"></p> Good practice includes:</p>
                  <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                    <li>Use sufficient colour contrast</li>
                    <li>Use industry recommended sizes for interactive elements</li>
                    <li>Design structure (headings, lists...)</li>
                    <li>Visually indicate the page focus</li>
                    <li>Avoid images of text</li>
                    <li>Do not use colour alone to convey meaning</li>
                  </ul>
                </div>
              </div>


              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      3. Follow Gestalt laws
                    </span>
                  </h2>
                </div>

                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                  aria-labelledby="accordion-default-heading-1">
                  <p class='govuk-body'>...so that we design for natural human perception.</p>
                  <div class='govuk-body'>Gestalt laws are principles which relate to how people naturally perceive
                    visual stimuli, group things together and simplify complex objects. Designers should use these to
                    organise
                    content to maximise natural perception:
                    <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                      <li>Law of proximity</li>
                      <li>Law of closure</li>
                      <li>Law of similarity</li>
                      <li>Law of continuity</li>
                    </ul>
                  </div>
                </div>

                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                        4. Reduce cognitive load
                      </span>
                    </h2>
                  </div>

                  <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>...so that we don't overload users.</p>
                    <div class='govuk-body'>Unnecessary demands being made on users' mental capacity when completing a
                      task can lead to
                      feeling overwhelmed, anxious and frustrated while increasing mistakes. We should design to support
                      user's
                      short-term memory capacity and allow them to focus on one task at a time.
                      <p class="govuk-!-padding-left-5">Good practice guidance:</p>
                      <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                        <li>Design for recognition over recall</li>
                        <li>Use summary pages to playback to users</li>
                        <li>Miller's law (chunking) to help memory limitations</li>
                        <li>Map to existing mental models</li>
                        <li>Avoid visual clutter</li>
                        <li>Let users reveal more detailed information only if they need it (for easier scanning)</li>
                        <li>Make it easy to compare data from different sources</li>
                        <li>Allow reference material to open in a new window</li>
                        <li>Use of all elements on the page headings, hint text labels</li>
                      </ul>
                    </div>
                  </div>

                  <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                          5. Support / prevent users making mistakes
                        </span>
                      </h2>
                    </div>

                    <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                      aria-labelledby="accordion-default-heading-1">
                      <p class='govuk-body'>...so that users make less errors and can recover from mistakes.</p>
                      <div class='govuk-body'>Making mistakes can be frustrating and increase anxiety when
                        users are interacting with a service. To avoid these negative emotions, we should design to
                        reduce in the incidence of errors but also for recovery when mistakes do occur.
                        <p class="govuk-!-padding-left-5">Good practice guidance:</p>
                        <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                          <li>Allow users to undo actions</li>
                          <li>Think error recovery and error prevention</li>
                          <li>Provide confirmation of actions e.g. save and delete</li>
                          <li>Make users explicity confirm destructive actions e.g. are you sure you want to delete?
                          </li>
                          <li>Provide logical options for checkboxes / radio buttons</li>
                          <li>Add helpful context e.g. hint text</li>
                          <li>Include helpful validation messages</li>

                        </ul>
                      </div>
                    </div>

                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            6. Make users do less
                          </span>
                        </h2>
                      </div>

                      <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                        aria-labelledby="accordion-default-heading-1">
                        <p class='govuk-body'>...so that the experience is faster and easier for users</p>
                        <div class='govuk-body'>A series of additional interactions add up to an experience
                          littered with unnecessary interactions which slow the user down and increase effort. Remove
                          unnecessary interactions when the user can achieve the same goal with less effort and it
                          doesn't impact on their ability to process information. What seems like small interactions
                          will add up to incremental improvements to the overall experience.
                          <p class="govuk-!-padding-left-5">Good practice guidance:</p>
                          <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                            <li>Pre-populate, auto filter, remove redundancies</li>
                            <li>Reduce scrolling (use back to top, anchor links)</li>
                            <li>Fitt's law - time relative to size and distance</li>
                            <li>Reduce repetitive interactions, (multiple instead of individual) </li>
                          </ul>
                        </div>
                      </div>

                      <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                              7. Understand context and provide context
                            </span>
                          </h2>
                        </div>

                        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                          aria-labelledby="accordion-default-heading-1">
                          <p class='govuk-body'>...so that we are designing for user's circumstances and so users
                            understand their circumstances in relation to using the service</p>

                          <div class='govuk-body'>
                            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Good practice guidance:</p>
                            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                              <li>Avoid dead-ends</li>
                              <li>Explain what will happen next</li>
                              <li>Tell users what they need</li>
                              <li>Access to / content at the point users need it</li>
                              <li>Indicate timescales</li>
                              <li>Consider end-2-end journey</li>
                              <li>Consider environment, IT confidence, pressures and constraints</li>
                              <li>Provide timely system feedback</li>
                            </ul>
                          </div>
                        </div>

                        <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                8. Design a seamless experience
                              </span>
                            </h2>
                          </div>

                          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                            aria-labelledby="accordion-default-heading-1">
                            <p class='govuk-body'>...so that the user experience is predicable</p>

                            <div class='govuk-body'>
                              <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Good practice guidance:</p>
                              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                                <li>Re-use patterns / code where possible and appropriate to conform with user
                                  expectations</li>
                                <li>Avoid bespoke designs where possible</li>
                                <li>Make sure systems look / behave the same</li>
                              </ul>
                            </div>
                          </div>

                          <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                  9. Design with data / design logic
                                </span>
                              </h2>
                            </div>

                            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                              aria-labelledby="accordion-default-heading-1">
                              <p class='govuk-body'>...so that everything is grounded in insights and has design
                                rationale</p>

                              <div class='govuk-body'>
                                <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Good practice guidance:</p>
                                <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                                  <li>Designs are testing hypothesis</li>
                                  <li>Features are fulfilling a user need</li>
                                  <li>Design rationale exists for design decisions</li>
                                  <li>Remove unnecessary components which are not intent driven or do not add value</li>
                                  <li>Follow User Centred Design best practice</li>
                                </ul>
                              </div>
                            </div>
                          </div>



                        </div>
  </main>
</div>

{% endblock %}