{% extends "layout.html" %}

{% block pageTitle %}
Principles and good practice
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Principles and good practice</h1>
      <p></p>

    </div>




    <div class="govuk-grid-row">
      
<!--
      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5"></div>
      <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Back to top
        </a>
      </div>
      -->

<!--content-->
      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">

        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ul class="gem-c-contents-list__list">
     

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-1">1. Understand ALL users; needs, behaviours and pain points</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-2">2. Design accessibly</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-3">3. Follow Gestalt laws</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-4">4. Reduce cognitve load</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-5">5. Support / prevent users making mistakes</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-6">6. Make users do less</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-7">7. Consider context</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-8">8. Design a seamless experience</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#principle-9">9. Design with data and design logic</a>
  
          </li>
          
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      
        <p>
          As a Clan we have pulled together a set of principles and good practices which we use for Interaction Design
          to provide consistency and guidance to how we apply design rationale and practices leading to great
          interaction design and a
          great user experience.
        </p>

<p>We also design our services to meet the government design principles, and the service standard</p>


        <!--principle 1-->
        <h2 class="govuk-heading-m" id="principle-1">1. Understand all users; their needs,
          behaviours and pain points</h2>

        <p class="govuk-body">...so that we understand all users and their needs with an ambition to meet them.</p>
        <div class="govuk-body">User needs come in different forms. Designing for
          information-based and task-based needs will lead to a service/journey which will allow users to complete their task(s) to see an outcome.
         
          <p class="govuk-!-margin-top-5">Understanding behaviour-based needs will improve the experience. It helps us to design how our users use the service. This means we can avoid 'fudges' and workarounds users might do to complete a task(s) they need to do.</p>
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for understanding all users</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>understand the research insights</li>
            <li>use needs-based personas</li>
            <li>consider both user needs (including accessibility needs) and business needs</li>
            <li>fix or mitigate user pain points</li>
            <li>factor in user behaviours</li>
            <li>understand 'how' the user does xyz</li>
            <li>understand 'why' the user does xyz</li>
            <li>think about what's missing (to feed into UR/workshops)</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 2 -->

        <h2 class="govuk-heading-m" id="principle-2">2. Design accessibly from the
          start</h2>

        <p class="govuk-body">...so that <a href="https://www.gov.uk/service-manual/design/making-your-service-more-inclusive" rel="noreferrer noopener" target="_blank">we are inclusive (opens in new tab)</a>. We need to design and deliver services that work for everyone (<a href="https://www.gov.uk/service-manual/service-standard/point-5-make-sure-everyone-can-use-the-service" rel="noreferrer noopener" target="_blank">Service standard 5 - opens in new tab).</a></p>
        <div class="govuk-body">Designing for accessibly from the start reduces rework and time, is morally
          the right thing to do and is a legal requirement.
          <p class="govuk-!-margin-top-5">We design to meet <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction" rel="noreferrer noopener" target="_blank">accessibility standard (opens in new tab)</a>.</p>
          
          <h3>Legislation</h3>
          <p>We may be breaking the law if we design services which are not accessible.</p>
          <p><a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  rel="noreferrer noopener" target="_blank">Equality act 2010</a>covers all public sector bodies.</p>

          <!-- reference to legislation that was replaced by equality act 2010 - Jas to confirm if this is still needed
  <p>There are additional pieces of legislation to cover discrimination, including:</p>
<ul>
  <li><a href="" rel="noreferrer noopener" target="_blank">Sex Discrimination Act 1975</a></li>
  <li><a href="" rel="noreferrer noopener" target="_blank">Race Relations Act 1976</a></li>
  <li><a href="" rel="noreferrer noopener" target="_blank">Disability Discrimination Act 1995</a></li>
</ul>-->

<h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for accessibility</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>use sufficient background/foreground colour contrast</li>
            <li>use industry recommended sizes for interactive components</li>
            <li>design structure into pages (headings of different levels, lists...)</li>
            <li>visually indicate the page focus</li>
            <li>avoid images of text</li>
            <li>not represent information using just colour on its own</li>
            <li>find pains a user might have using a journey map to understand where the journey/paths are not easy to use by everyone</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <!--principle 3-->
        <h2 class="govuk-heading-m" id="principle-3">3. Follow Gestalt laws</h2>

        <p class="govuk-body">...so that we design for natural human perception.</p>
        <div class="govuk-body">Gestalt laws are principles which relate to how people naturally perceive
          visual stimuli, group things together and simplify complex objects. 
          
          <p class="govuk-!-margin-top-5">Designers should use these to organise content to maximise natural perception.</p>
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Gestalt laws to consider for good practice</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>law of proximity</li>
            <li>law of closure</li>
            <li>law of similarity</li>
            <li>law of continuity</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 4-->
        <h2 class="govuk-heading-m" id="principle-4">4. Reduce cognitive load</h2>
        <p class="govuk-body">...so that we don't overload users.</p>
        <div class="govuk-body">Unnecessary demands being made on users' mental capacity when completing a task can lead
          to
          feeling overwhelmed, anxious and frustrated while increasing mistakes. We should design to support user's
          short-term memory capacity and allow them to focus on one task at a time.
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for reducing cognitive load</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>prefill data (if/when the user gives consent)</li>
            <li>use summary pages to playback to users (give options to go back easily and amend)</li>
            <li>make it easy to compare data from different sources</li>
            <li>follow Miller's law (chunking) to help memory limitations</li>
            <li>progressive disclosure</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 5-->
        <h2 class="govuk-heading-m" id="principle-5">5. Support and prevent users making mistakes</h2>
        <p class="govuk-body">...so that users make less errors and can recover from mistakes.</p>
        <div class="govuk-body">Making mistakes can be frustrating and increase anxiety when users are interacting with
          a service. To avoid these negative emotions, we should design to reduce the chance of users making mistakes but also
          for recovery when mistakes do occur.
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for helping users</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>allow users to undo actions</li>
            <li>provide confirmation of actions - for example, save and delete</li>
            <li>provide logical options for checkboxes / radio buttons</li>
            <li>think error recovery and error prevention</li>
            <li>make users explicitly confirm destructive actions. For example, are you sure you want to delete?</li>
            <li>add helpful context - for example, use hint text</li>
            <li>include helpful validation messages</li>
          </ul>
        </div>
        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 6-->

        <h2 class="govuk-heading-m" id="principle-6">6. Make users do less</h2>
        <p class="govuk-body">...so that the experience is faster and easier for users.
          <a href="https://www.gov.uk/service-manual/service-standard/point-4-make-the-service-simple-to-use"  rel="noreferrer noopener" target="_blank">Service standard 4</a>.</p>
        <div class="govuk-body">A series of additional interactions add up to an experience littered with unnecessary
          interactions which slow the user down and increase effort. Remove unnecessary interactions when the user can
          achieve the same goal with less effort and it doesn't impact on their ability to process information. What
          seems like small interactions will add up to incremental improvements to the overall experience.
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for making users do less</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">

            <li>pre-populate, auto filter, remove redundancies</li>
            <li>avoid unnecessary or extra interactions</li> 
            <li>provide short cuts</li>
            <li>reduce scrolling - for example, use back to top, anchor links</li>
            <li>follow Fitt's law - time relative to size and distance</li>
            <li>reduce repetitive interactions</li>
          </ul>
        </div>

        <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 7-->
        <h2 class="govuk-heading-m" id="principle-7">7. Consider context </h2>

        <p class="govuk-body">...so that we are designing for user's circumstances and so users
          understand their circumstances in relation to using the service.</p>
        <div class="govuk-body">Understanding users' circumstances helps us to design for their constraints. Providing
         context helps users to understand where they are and what they can to do next.
          Provide information and functionality in context - at the point the user is most likely to need it. Save the
          user hunting for it, or missing it altogether.

          <br>
          <br>
          All these context related considerations should help manage user expectations, leading to a clearer
          experience.

          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for context</h3>
          <p>You should:</p>
          <ul class="govuk-!-padding-left-9">
            <li>avoid dead-ends</li>
            <li>explain what will happen next</li>
            <li>tell users what they need</li>
            <li>give access to, or provide content at the point users need it</li>
            <li>indicate timescales</li>
            <li>consider the end-to-end journey</li>
            <li>consider environment, IT confidence, pressures and constraints</li>
            <li>provide timely system feedback</li>
          </ul>
        </div>

<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



        <!--principle 8-->
        <h2 class="govuk-heading-m" id="principle-8">8. Design a seamless experience
        </h2>

        <p class="govuk-body">...so that the user experience is familiar and predictable.</p>
        <div class="govuk-body">Users learn how a service looks and works as they are using it. By having consistent
          designs and interactions, we are helping users to learn more quickly, building on their familarity and
          re-enforcing their mental models of how to interact with the services.
          <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for designing a seamless experience</h3>
          <p>You should:</p>
          <ul class="govuk-list--bullet govuk-!-padding-left-7 govuk-!-margin-bottom-7">
            <li>re-use patterns and code where possible and appropriate to conform with user expectations</li>
            <li>avoid bespoke designs where possible</li>
            <li>make sure systems look and behave the same</li>
            <li>maintain documentation - for example, design histories, design decisions, other IxD dcoumentation</li>
          </ul>
        </div>

<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--principle 9-->
        <h2 class="govuk-heading-m" id="principle-9">9. Design with data and design
          logic</h2>

        <p class="govuk-body">...so that everything is grounded in insights and evidence to provide robust design rationale.</p>

          <div class="govuk-body">Insights and design rationale are essential to designing services which meet user
            needs and expectations. As opposed to creating shiny new functionality which confuses users, is unused or even
            hinders their use of the service.
            <h3 class="govuk-heading-s govuk-!-margin-top-5">Good practice for designing with data and design logic</h3>
            <p>You should:</p>
            <ul class="govuk-list--bullet govuk-!-padding-left-7">
              <li>ensure designs are testing hypothesis</li>
              <li>ensure features are fulfilling a user need</li>
              <li>ensure design rationale exists for design decisions</li>
              <li>follow User Centred Design best practice</li>
              <li>remove unnecessary components which are not intent driven or do not add value</li>
            </ul>

          </div>

<!--next and previous
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="gem-track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="/universal-credit/what-youll-get" class="govuk-link gem-c-pagination__link govuk-link--no-underline" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/universal-credit/what-youll-get" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text govuk-!-padding-left-1">Previous</span>
          </span>
          <br>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">What you'll get</span>
        </a>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/universal-credit/how-youre-paid" class="govuk-link gem-c-pagination__link govuk-link--no-underline" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/universal-credit/how-youre-paid" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text govuk-!-padding-left-1">Next</span>
          </span>
          <br>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">How you're paid</span>
        </a>
      </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">
  
</nav>
-->



<!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>



       



      </div>
  </main>
</div>

{% endblock %}