{% extends "layout.html" %}

{% block pageTitle %}
Ways of working
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Ways of working</h1>
      <div>
        <h2 class="white-govuk-heading-m">What we do and how we do it</h2>
      </div>
    </div>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">

        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ul class="gem-c-contents-list__list">
     

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-1">What we do</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-2">What we don't do</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-3">Being an Interaction Designer</a>
  
          </li>
          
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-4">Stages of Interaction Design</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-5">Interaction Design artefacts</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-6">Our documentation</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-7">Working as a Clan</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#wow-8">Collaborating with other Clans</a>
  
          </li>
          
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      
    
        <p>
          Defining our Interaction Design (IxD) ways of working gives us structure, direction and consistency to then do
          our best work, while for
          others, understanding what we do and how the team works leads to better collaboration and manages
          expectations.
        </p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 1 - what we do -->
        <h2 class="govuk-heading-m" id="wow-1">What we do</h2>
        <p>Explore design solutions by understanding users, mapping journeys and
          creating prototypes to test hypotheses and interactions which address user needs, behaviours and pain points
          while feeding into and supporting other disciplines.
        </p>
                <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 2 - what we don't do -->

        <h2 class="govuk-heading-m" id="wow-2">What we don't do</h2>
              <p>Fully functional services to GDS standard of coding</p>
         

          <p>We use the prototyping kit to
            create
            prototypes for testing concepts and are not developers so our code
            isn't to GDS coding standards, and isn't expected to be. Prototypes are design artefacts, not an exact
            representation of the fully developed service with links to databases, validation, error handling and
            everything functioning - we only prototype what's needed for design / user testing.
          </p>
                  <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 3 - being an interaction designer-->
              <h2 class="govuk-heading-m" id="wow-3">Being an Interaction Designer
              </h2>
              <p>There's more to being a
                designer than just the designing;
                we follow a number of techniques and approaches to become better designers...</p>
           
          <div class='govuk-body'>
            <ul>
              <li>follow GDS principles of <a href="https://www.gov.uk/guidance/government-design-principles"
                  class="govuk-link" rel="noreferrer noopener" target="blank">how to be an Interaction Designer (opens
                  new tab)</a></li>
              <li>follow <a href="principles-and-good-practice">IxD Clan principles and good practice</a> of how to do
                IxD</li>
              <li>collaborate with each other</li>
              <li>collaborate with other Clans</li>
              <li>work openly so we can be supported and can support others and reuse</li>
              <li>reuse patterns for consistency between services</li>
              <li>continually learn and develop</li>
              <ul>
                <li>share prototypes, journey maps and other IxD outputs</li>
                <li>document design decisions (what and why)</li>
                <li>do Design Reviews so we have awareness of work, can support each other and address differences
                  between
                  services</li>
                <li>document Design Review outcomes for future reference</li>
                <li>centralise shared documents and IxD outputs in a single location</li>
                <li>maintain design histories / handover docs</li>
                <li>share working boards (Lucid / Figma)</li>
              </ul>

            </ul>
          </div>
        </details>
                <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 4 - stages-->
        
              <h2 class="govuk-heading-m" id="wow-4">Stages of Interaction Design</h2>
              <p>Our approach uses a mix of
                cognitive,
                strategic and practical processes which we've grouped into 5 iterative and looping stages to help keep
                focus on users and their needs.
              </p>
           

          <!--stage 1 - understand-->
          
                <h3 class="govuk-heading-s">Understand</h3>
     
            <div class="govuk-body">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>collaborate and feed into User Research (UR) so we learn how users behave, their needs and pain
                  points
                  and identify any gaps</li>
                <li>observe and scribe user testing</li>
                <li>feed into and understand personas / empathy maps </li>
                <li>analyse / understand user (and business) needs (behavioural, task-based, informational)</li>
                <li>understand the problem</li>
                <li>challenge assumptions</li>
                <li>review existing service(s)</li>
                <li>collaborate with Content Design (CD) and Service Design (SD) to understand and map the As-Is user journey</li>
                <li>create design histories (TBC if IxD or project team task</li>
                <li>review user stories reflect identified user needs</li>
                <li>stakeholder management (as appropriate)</li>
              </ul>
            </div>
      

          <!--stage 2 - define-->
          
                <h3 class="govuk-heading-s">Define</h3>
           

            <div class="govuk-body">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>define (with the team) MVP / what to test / needs to be met</li>
                <li>challenge assumptions</li>
                <li>define tasks to complete</li>
                <li>create design histories (TBC if IxD task or team task)</li>
                <li>review user stories reflect identified user needs</li>
                <li>stakeholder management (as appropriate)</li>
              </ul>
            </div>
        

          <!--stage 3 - ideate -->
        
                <h3 class="govuk-heading-s">Ideate</h3>
           

            <div class="govuk-body">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>explore concepts, options and journeys</li>
                <li>collaborate with UR to analyse and understand user needs (behaviours, task-based and informational needs) and identify gaps</li>
                <li>collaborate with CD / SD on information Architecture and journeys</li>
                <li>collaborate with devs to undestand what's possible / practical</li>
                <li>map solutions and needs</li>
                <li>mock up the experince (Low / high fidelity sketches / wireframes / prototypes - using the prototype kit)</li>
                <li>collaborative Design Reviews</li>
                <li>adhere to and champion accessibility standards</li>
                <li>adhere to and champion IxD principles and good practice</li>
                <li>reuse patterns and code as appropriate</li>
                <li>workshops</li>
                <li>documentation (design histories, design rationale, review BA user stories)</li>
                <li>share learnings</li>
                <li>collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps
                <li>stakeholder management (as appropriate)</li>
              </ul>
            </div>
        

          <!--stage 4 - refine-->
         
                <h3 class="govuk-heading-s">Refine</h3>
           

            <div class="govuk-body">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps</li>
                <li>evaluate and evolve / iterate prototypes / journeys based on UR or design review</li>
                <li>collaborative Design Reviews</li>
                <li>collaborate on dev build</li>
                <li>support accessibility testing</li>
                <li>documentation (design histories)</li>
                <li>share learnings</li>
                <li>stakeholder management (as appropriate)</li>
              </ul>
            </div>
        

          <!--iterate-->
          
                <h3 class="govuk-heading-s">Iterate</h3>
             

            <div class="govuk-body">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>celebrate successes</li>
                <li>support UR</li>
                <li>learn and iterate cycle</li>
                <li>documentation</li>
              </ul>
            </div>
          </details>
        </details>

         <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 5 - IxD artefacts-->
        
              <h2 class="govuk-heading-m" id="wow-5">Interaction Design artefacts</h2>
              <p>We use a variety of tools to
                help us create Interaction
                Design outputs depending on the purpose, time available and what's "good enough" to meet the intended
                purpose which impact on the level of fidelity (level of detail/realism).
              </p>
          
          <div class='govuk-body'>
            <h3>Journey maps</h3>
            <ul class="govuk-!-margin-bottom-7">
              <li>understanding user journeys at a high level; boxes and arrows using anything that works e.g. pen and paper, post-its, virtual whiteboard</li>
              <li>understanding the journey and expected contents at a medium level; use representative mini pages from a library in Figma or Lucid</li>  
            </ul>
              <h3>Prototypes</h3>
              <ul>
              <li>understanding high level concepts for problem solving and discussion; Figma or Lucid </li>
              <li>testing interactions and journeys with users; interactive prototypes using GDS prototyping kit and Visual Studio</li>
            </ul>
         
                <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 6 - Documentation-->
        
              <h2 class="govuk-heading-m" id="wow-6">Our documentation</h2>
              <p>Interaction Design is about
                more than just prototyping and
                journey mapping - we have other design outputs which help us to do our work, help with onboarding new
                team members and to better support or pick up each other's work.
              </p>
      

          <div class='govuk-body'>Documentation we create, maintain
            and use:</div>
            <ul class="govuk-!-margin-bottom-7">
              <li>'things' which help us to track of and document design rationale of our work:</li>
             
                <ul>
                  <li>design backlog for future consideration</li>
                  <li>collaborative Design Review feedback (design decisions made, why and any alternative designs)</li>
                  <li>design histories</li>
                  <li>agreed consistent approach to prototype versioning</li>
                </ul>
                <br>

                <li>'things' which help us stay up to date with each other</li>
                <ul>
                  <li>IxD updates document (updated weekly)</li>
                  <li>Clan Trello board for logging and tracking actions from Clan sessions</li>
                  <li>Clan slack channel</li>
                </ul>
                <br>
                <li>'things' we share and work on together</li>
                <ul>
                  <li>shared, reusbale Figma design library</li>
                  <li>central location for easy access to our IxD and Clan work</li>
                  <li>service differences Lucidspark board</li>
                  <li>behavioural needs Lucidspark board</li>
                  <li>Clan foundation activities Lucidspark boards</li>
                </ul>
              </ul>
                      <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 7 - working as a clan -->
        
              <h2 class="govuk-heading-m" id="wow-7">Working as a Clan</h2>
              <p>Adopting a collaborative and
                supportive Clan culture is
                essential for us to build and grow as a team to deliver our best work.
              </p>
          

          <div class='govuk-body'>How we work as a Clan:</p>
            <ul>
              <li>communicate with each other</li>
              <ul>
                <li>celebrate successes</li>
                <li>slack channel so we can communicate quickly</li>
                <li>regular catch ups for wellbeing and relationship building</li>
                <li>weekly IxD updates document to keep up to date with each other</li>
              </ul>
              <br>
              <li>share skills, knowlege and experiences</li>
              <ul>
                <li>share our work in a central location e.g. prototypes, journey maps, patterns...</li>
                <li>weekly collaborative Design Reviews (keep up-to-date, explore alternatives, get and give feedback
                  and improve consistency between the services)</li>
                <li>coaching - share knowledge, skills and experiences so we learn from each other/together</li>
                <li>discuss topics of interest</li>
                <li>co-design workshops so we can support each other or learn</li>
              </ul>
              <br>


              <li>improve delivery of services</li>
              <ul>
                <li>compare services for consistency</li>
                <li>maintain a backlog of identified opportunities for improvements</li>
                <li>identify and collaborate on new patterns</li>
              </ul>
              <br>

              <li>evolve the Clan</li>
              <ul>
                <li>activities to evolve the Clan together so we grow together</li>
                <li>create our Clan plan together so we're sharing doing what we want as a collective</li>
              </ul>

            </ul>
          </div>
                  <!--back to top-->
<div data-sticky-element class="sticky-element">
  <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
      viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>
</div>
 
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!--theme 8 collaborating with other clans -->

              <h2 class="govuk-heading-m" id="wow-8">Collaborating with other Clans
              </h2>

              <p>For a truly User Centred Design (UCD) approach, the
                different professions need to work together to meet user needs.
              </p>
         
          <!--CD Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with
                  Content Designers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
           
          </details>

          <!--UR Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with User
                  Researchers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
        
          </details>


          <!--Dev Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with 
                  Developers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
          
          </details>


          <!--BA Clan-->
          <details class="govuk-details govuk-!-padding-left-5" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with 
                  Business Analysts</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
           
          </details>


        </details>

        <!--back to top-->
        <div data-sticky-element class="sticky-element">
          <a class="govuk-link app-c-back-to-top dont-print govuk-link--no-visited-state" href="#main-content">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
              viewbox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
          </a>
        </div>

      </div>


    </div>


  </main>
</div>

{% endblock %}