{% extends "layout.html" %}

{% block pageTitle %}
Ways of working
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Ways of working</h1>
      <div>
        <h2>What we do and how we do it</h2>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>
          Defining our ways of working gives us structure, direction and consistency to then do our best work, while for
          others, understanding what we do and how the team works leads to better collaboration and manages
          expectations.
        </p>

        <!--theme 1 - what we do -->
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">What we do</h2>
        <p class="govuk-!-margin-bottom-0">Explore design solutions by understanding users, mapping journeys and
          creating prototypes to test hypotheses and interactions which address user needs, behaviours and pain points.
        </p>


        <!--theme 2 - what we don't do -->
        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">What we don't do</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">GDS standard coding.</p>
            </span>
          </summary>

          <!--explanation-->
          <p>We use the prototyping kit to create prototypes for testing concepts and are not developers so our code
            isn't to GDS coding standards, and isn't expected to be.</p>
        </details>

        <!--theme 3 - stages -->
        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Our Interaction Design (IxD)
                stages</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">Our user-centred design approach uses a mix of cognitive,
                strategic and practical processes which we've categorised into 5 iterative and looping stages of
                Interaction Design. They help to keep focus on users and their needs while we deliver IxD outputs.</p>
            </span>
          </summary>

          <!--stage 1 - understand -->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-2">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Understand</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Use needs-based personas</li>
              <li>Consider both user needs and business needs</li>
              <li>Understand the research insights</li>
              <li>Factor in user behaviours</li>
              <li>Fix or mitigate user pain points</li>
              <li>Think about what's missing (to feed into UR/workshops)</li>
            </ul>
          </details>

          <!--Stage 2 - define -->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-2">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Define
                </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Use sufficient colour contrast</li>
              <li>Use industry recommended sizes for interactive elements</li>
              <li>Design structure (headings, lists...)</li>
              <li>Visually indicate the page focus</li>
              <li>Avoid images of text</li>
              <li>Do not use colour alone to convey meaning</li>

            </ul>
          </details>

          <!--Stage 3 - ideate -->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Ideate</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Law of proximity</li>
              <li>Law of closure</li>
              <li>Law of similarity</li>
              <li>Law of continuity</li>
            </ul>
          </details>

          <!--Stage 4 - refine -->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-0">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Refine</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Prefill data</li>
              <li>Use summary pages to playback to users</li>
              <li>Make it easy to compare data from different sources</li>
              <li>Miller's law (chunking) to help memory limitations</li>
              <li>Allow reference material to open in a new window</li>
            </ul>
          </details>

          <!--Stage 5 - iterate-->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Iterate
                </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Allow users to undo actions</li>
              <li>Think error recovery and error prevention</li>
              <li>Provide confirmation of actions e.g. save and delete</li>
              <li>Make users explicity confirm destructive actions e.g. are you sure you want to delete?</li>
              <li>Provide logical options for checkboxes / radio buttons</li>
              <li>Add helpful context e.g. hint text</li>
              <li>Include helpful validation messages</li>
            </ul>
          </details>
        </details>


        <!--theme 4 - Documentation-->
        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Our IxD documentation</h2>
              <p class="govuk-reason govuk-!-margin-bottom-3">
              <ul class="govuk-reason govuk-!-margin-top-3">
                <li>'things' which help us to track and understand our work;
                  <ul>
                    <li>the design decisions made and why</li>
                    <li>peer review feedback</li>
                    <li>the design histories</li>
                  </ul>
                <li>a more consistent approach to prototype versioning</li>
                <li>a shared, reusbale design library. These will also help with onboarding new team members and to
                  better support or pick up each other's work</li>
              </ul>
              </p>
            </span>
          </summary>

          <!--principle 1-->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Understand user behaviours and
                  make users do less</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Ask yourself / understand 'how' the user does xyz</li>
              <li>Ask yourself / understand 'why' the user does xyz</li>
              <li>Pre-populate, auto filter, remove redundancies</li>
              <li>Avoid unnecessary or extra interactions / provide short cuts</li>
              <li>Reduce scrolling (use back to top, anchor links)</li>
              <li>Fitt's law - time relative to size and distance</li>
              <li>Reduce repetitive interactions, (multiple instead of individual) </li>
            </ul>
          </details>

          <!--principle 2-->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Don't make users think </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Use of summary screens before submitting</li>
              <li>Recognition rather than recall, have access to / what users need where they need it</li>
              <li>Add helpful contextual information / guidance</li>
              <li>Use of all elements on the page headings, hint text labels</li>
              <li>Map to existing mental models</li>
              <li>Keep focus (not cluttered, provide affordance, clear call to actions)</li>
            </ul>
          </details>
        </details>

        <!--theme 5 - being an interaction designer -->
        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Being Interaction Designers</h2>
              <p class="govuk-reason govuk-!-margin-bottom-3">*** BLURB ABOUT BEING INTERACTION DESIGNERS ****** BLURB
                ABOUT BEING INTERACTION DESIGNERS ****** BLURB ABOUT BEING INTERACTION DESIGNERS ****** BLURB ABOUT
                BEING INTERACTION DESIGNERS ****** BLURB ABOUT BEING INTERACTION DESIGNERS ***
              </p>
            </span>
          </summary>

          <!--principle 1-->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-2">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Understand context and provide
                  context</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Avoid dead-ends</li>
              <li>Explain what will happen next </li>
              <li>Tell users what they need </li>
              <li>Indicate timescales</li>
              <li>Consider end-2-end journey</li>
              <li>Consider environment, IT confidence, pressures and constraints</li>
              <li>Provide timely system feedback</li>
            </ul>
          </details>
        </details>

        <!--theme 6 - working as a clan -->
        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Working together as a Clan</h2>
              <p class="govuk-reason govuk-!-margin-bottom-3">*** BLURB ABOUT working together as a clan ****** BLURB
                ABOUT working together as a clan ****** BLURB ABOUT working together as a clan ****** BLURB ABOUT
                working together as a clan ****** BLURB ABOUT working together as a clan ***
              </p>
            </span>
          </summary>

          <!--principle 1-->
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-2">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Design a seamless experience
                </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Re-use patterns / code where possible and appropriate to conform with user expectations</li>
              <li>Avoid bespoke designs where possible</li>
              <li>Make sure systems look / behave the same</li>
              <li>Maintain documentation e.g. Design histories, design decisions, other IxD dcoumentation</li>
            </ul>
          </details>
        </details>

        <!--theme 7 working with other clans -->

        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">

              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Working with other Clans
              </h2>

              <p class="govuk-reason govuk-!-margin-bottom-3">*** BLURB ABOUT importance of working with other clans
                ****** BLURB ABOUT importance of working with other clans ****** BLURB ABOUT importance of working with
                other clans ****** BLURB ABOUT importance of working with other clans ****** BLURB ABOUT importance of
                working with other clans ***
              </p>
            </span>
          </summary>

          <!--CD Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Interaction Designers and
                  Content Designers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
              <li>Follow User Centred Design best practice</li>
            </ul>
          </details>

          <!--UR Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Interaction Designers and User
                  Researchers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
              <li>Follow User Centred Design best practice</li>
            </ul>
          </details>


          <!--Dev Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Interaction Designers and
                  Developers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
              <li>Follow User Centred Design best practice</li>
            </ul>
          </details>


          <!--BA Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Interaction Designers and
                  Business Analysts</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
              <li>Follow User Centred Design best practice</li>
            </ul>
          </details>


        </details>



      </div>


    </div>


  </main>
</div>

{% endblock %}