{% extends "layout.html" %}

{% block pageTitle %}
Ways of working
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Ways of working</h1>
      <div>
        <h2>What we do and how we do it</h2>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>
          Defining our Interaction Design (IxD) ways of working gives us structure, direction and consistency to then do
          our best work, while for
          others, understanding what we do and how the team works leads to better collaboration and manages
          expectations.
        </p>

        <!--theme 1 - what we do -->
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">What we do</h2>
        <p class="govuk-!-margin-bottom-3">Explore design solutions by understanding users, mapping journeys and
          creating prototypes to test hypotheses and interactions which address user needs, behaviours and pain points
          while feeding into and supporting other disciplines.
        </p>

        <!--theme 2 - what we don't do -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">What we don't do</h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">Fully functional services to GDS standard of coding</p>
            </span>
          </summary>

          <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">We use the prototyping kit to
            create
            prototypes for testing concepts and are not developers so our code
            isn't to GDS coding standards, and isn't expected to be. Prototypes are design artefacts, not an exact
            representation of the fully developed service with links to databases, validation, error handling and
            everything functioning - we only prototype what's needed for design / user testing.
          </div>
        </details>



        <!--xx theme 2 - what we don't do 
        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">What we don't do</h2>
            </span>
            <p class="govuk-reason govuk-!-margin-bottom-0" govuk-intro>GDS standard coding or fully functioning services.</p>
          </summary>

          explanation
          <p class="govuk-intro govuk-!-margin-bottom-0 govuk-!-margin-top-3">We use the prototyping kit to create
            prototypes for testing concepts and are not developers so our code
            isn't to GDS coding standards, and isn't expected to be. They are design artefacts, not an exact a representation of the fully developed service with links to databases, validation, error handling and everything functioning - we only prototype what's needed for design / user testing.</p>
        </details>-->

        <!--theme 3 - being an interaction designer-->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Being an Interaction Designer
              </h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">There's more to being a
                designer than just the designing;
                we follow a number of techniques and approaches to become better designers...</p>
            </span>
          </summary>

          <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">
            <ul class="govuk-!-margin-top-3">
              <li>Follow GDS principles of <a href="https://www.gov.uk/guidance/government-design-principles"
                  class="govuk-link" rel="noreferrer noopener" target="blank">how to be an Interaction Designer (opens
                  new tab)</a></li>
              <li>Follow <a href="principles-and-best-practice">IxD Clan principles and best practice</a> of how to do
                IxD</li>
              <li>Collaborate with each other</li>
              <li>Collaborate with other Clans</li>
              <li>Work openly so we can be supported and can support others and reuse</li>
              <li>Reuse patterns for consistency between services</li>
              <li>Continually learn and develop</li>
              <ul>
                <li>Share prototypes, journey maps and other IxD outputs</li>
                <li>Document design decisions (what and why)</li>
                <li>Do Design Reviews so we have awareness of work, can support each other and address differences
                  between
                  services</li>
                <li>Document Design Review outcomes for future reference</li>
                <li>Centralise shared documents and IxD outputs in a single location</li>
                <li>Maintain design histories / handover docs</li>
                <li>Share working boards (Lucid / Figma)</li>
              </ul>

            </ul>
          </div>
        </details>



        <!--xx theme 3 - being an interaction designer 
        <details class="govuk-details govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">Being Interaction Designers</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">There's more to being a designer than just the designing;
                we follow a number of techniques and approaches to become better designers...
              </p>
            </span>
          </summary>

   
          <span class="govuk-details__summary-text">

            <ul class="govuk-reason govuk-!-margin-top-3">
              <li>Follow GDS principles of <a href="https://www.gov.uk/guidance/government-design-principles"
                  class="govuk-link" rel="noreferrer noopener" target="blank">how to be an Interaction Designer (opens
                  new tab)</a></li>
              <li>Follow <a href="principles-and-best-practice">IxD Clan principles and best practice</a> of how to do
                IxD</li>
              <li>Collaboratee with each other</li>
              <li>Collaborate with other Clans</li>
              <li>Work openly so we can be supported and can support others and reuse</li>
              <li>Reuse patterns for consistency between services</li>
              <li>Continually learn and develop</li>
              <ul>
                <li>Share prototypes, journey maps and other IxD outputs</li>
                <li>Document design decisions (what and why)</li>
                <li>Peer Reviews so we have awareness of work, can support each other and address differences between
                  services</li>
                <li>Document Design Review outcomes for future reference</li>
                <li>Centralised area for shared documents and IxD outputs</li>
                <li>Design histories / handover docs</li>
                <li>Shared boards (Lucid / Figma)</li>
              </ul>

            </ul>
          </span>
        </details>-->

        <!--theme 4 - stages-->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Our IxD stages</h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">Our approach uses a mix of
                cognitive,
                strategic and practical processes which we've grouped into 5 iterative and looping stages to help keep
                focus on users and their needs.
              </p>
            </span>
          </summary>

          <!--stage 1 - understand-->
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Understand</div>
              </span>
            </summary>

            <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>Collaborate and feed into User Research (UR) so we learn how users behave, their needs and pain
                  points
                  and identify any gaps</li>
                <li>Observe and scribe user testing</li>
                <li>Feed into and understand personas / empathy maps </li>
                <li>Analyse / understand user (and business) needs (behavioural, task-based, informational)</li>
                <li>Understand the problem</li>
                <li>Challenge assumptions</li>
                <li>Review existing service(s)</li>
                <li>Collaborate with Content Design (CD) and Service Design (SD) to understand and map the As-Is user journey
                </li>
                <li>Create design histories (TBC if IxD or project team task</li>
                <li>Review user stories reflect identified user needs</li>
                <li>Stakeholder management (as appropriate)</li>
              </ul>
            </div>
          </details>

          <!--stage 2 - define-->
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Define</div>
              </span>
            </summary>

            <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>Define (with the team) MVP / what to test / needs to be met</li>
                <li>Challenge assumptions</li>
                <li>Define tasks to complete</li>
                <li>Create design histories (TBC if IxD task or team task)</li>
                <li>Review user stories reflect identified user needs</li>
                <li>Stakeholder management (as appropriate)</li>
              </ul>
            </div>
          </details>

          <!--stage 3 - ideate -->
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Ideate</div>
              </span>
            </summary>

            <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>Explore concepts, options and journeys</li>
                <li>Collaborate with UR to analyse and understand user needs (behaviours, task-based and informational needs) and identify gaps</li>
                <li>Collaborate with CD / SD on information Architecture and journeys</li>
                <li>Collaborate with devs to undestand what's possible / practical</li>
                <li>Map solutions and needs</li>
                <li>Mock up the experince (Low / high fidelity sketches / wireframes / prototypes / alternatives)</li>
                <li>Clan Collaborative Design Reviews</li>
                <li>Adhere to and champion accessibility standards</li>
                <li>Adhere to and champion IxD principles and best practice</li>
                <li>Reuse patterns and code as appropriate</li>
                <li>Workshops</li>
                <li>Documentation (design histories, design rationale, review BA user stories)</li>
                <li>Share learnings with the Clan</li>
                <li>Collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps
                <li>Stakeholder management (as appropriate)</li>
              </ul>
            </div>
          </details>

          <!--stage 4 - refine-->
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Refine</div>
              </span>
            </summary>

            <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>Collaborate and feed into User Research so we learn how users behave, their needs and pain points
                  and identify any gaps</li>
                <li>Evaluate and evolve / iterate prototypes / journeys based on UR or design review</li>
                <li>Collaborative Design Reviews</li>
                <li>Collaborate on dev build</li>
                <li>Support accessibility testing</li>
                <li>Documentation (design histories)</li>
                <li>Share learnings with the Clan</li>
                <li>Stakeholder management (as appropriate)</li>
              </ul>
            </div>
          </details>

          <!--iterate-->
          <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Iterate</div>
              </span>
            </summary>

            <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Activities in this phase include:
              <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
                <li>Celebrate successes</li>
                <li>Support UR</li>
                <li>learn and iterate cycle</li>
                <li>Documentation</li>
              </ul>
            </div>
          </details>
        </details>

        <!---       <!--xx theme 4 - stages --
        <details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-0" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-0">
            <span class="govuk-details__summary-text govuk-!-margin-bottom-0">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Our IxD stages</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">Our approach uses a mix of cognitive,
                strategic and practical processes which we've grouped into 5 iterative and looping stages to help keep
                focus on users and their needs.</p>
            </span>
          </summary>

          <!--x stage 1 - understand--
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Understand</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Activities in this phase include:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Collaborate and feed into User Research (UR) so we learn how users behave, their needs and pain points
                and identify any gaps
              <li>Observe and scribe user testing</li>
              <li>Feed into and understand personas / empathy maps </li>
              <li>Analyse / understand user (and business) needs (behavioural, task-based, informational)</li>
              <li>Understand the problem</li>
              <li>Challenge assumptions</li>
              <li>Review existing service(s)</li>
              <li>Collaborate with Content Design (CD) and Service Design (SD) to understand and map the user journey
              </li>
              <li>Create design histories (TBC if IxD or project team task</li>
              <li>Review user stories reflect identified user needs</li>
              <li>Stakeholder management (as appropriate)</li>
            </ul>
          </details>

          <!--x Stage 2 - define --
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Define
                </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Activities in this phase include:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Define (with the team) MVP / what to test / needs to be met </li>
              <li>Challenge assumptions</li>
              <li>Define tasks to complete</li>
              <li>Create design histories (TBC if IxD task or team task)</li>
              <li>Review user stories recflect identified user needs</li>
              <li>Stakeholder management (as appropriate)</li>
            </ul>
          </details>

          <!--x Stage 3 - ideate --
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Ideate</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Activities in this phase include:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Think and explore options</li>
              <li>Collaborate with CD / SD on information Architecture and journeys</li>
              <li>Collaborate wtih devs to undestand what's possible / practical</li>
              <li>Map solutions and needs</li>
              <li>Mock up the experince (Low / high fidelity sketches / wireframes / prototypes / alternatives)</li>
              <li>Clan Collaborative Design Reviews</li>
              <li>Adhere to and champion accessibility standards</li>
              <li>Adhere to and champion IxD principles and best practice</li>
              <li>Reuse patterns and code as appropriate</li>
              <li>Workshops</li>
              <li>Documentation (design histories, design rationale, review BA user stories)</li>
              <li>Share learnings with the Clan</li>
              <li>Collaborating and feeding into User Research so we learn how users behave, their needs and pain points
                and identify any gaps
              <li>Stakeholder management (as appropriate)</li>

            </ul>
          </details>

          <!--x Stage 4 - refine --
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-0">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Refine</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Activities in this phase include:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Support UR</li>
              <li>Evaluate and evolve / iterate prototypes / journeys based on UR or design review</li>
              <li>Collaborative Design Reviews</li>
              <li>Collaborate on dev build</li>
              <li>Support accessibility testing</li>
              <li>Documentation (design histories)</li>
              <li>Share learnings with the Clan</li>
              <li>Stakeholder management (as appropriate)</li>
            </ul>
          </details>

          <!--x Stage 5 - iterate--
          <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Launch and iterate
                </div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Activities in this phase include:</p>
            <ul class="govuk-!-margin-top-1 govuk-!-padding-left-9">
              <li>Celebrate successes</li>
              <li>Support UR</li>
              <li>learn and iterate cycle</li>
              <li>Documentation</li>

            </ul>
          </details>
        </details>-->

        <!--theme 5 - tools-->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">IxD tools</h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">We use a variety of tools to
                help us create Interaction
                Design outputs depending on the purpose, time available and what's "good enough" to meet the intended
                purpose.
              </p>
            </span>
          </summary>

          <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Tools we use for IxD work depends on fidelity and working locations:</p>
            <ul class="govuk-!-margin-top-0">
              <li>High level user journeys; anything that works (pen and paper, post-its, virtual whiteboard)</li>
              <li>Mid level level; representative mini pages, Figma or Lucid</li>  
              <li>High level concepts for problem solving and discussion; Figma or Lucid </li>
              <li>Interactive prototypes, ready for UR; GDS prototyping kit and Visual Studio</li>
            </ul>
            </span>
        </details>

        <!--x theme 5 - Tools--
        <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">IxD toolihiuhius</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">We use a variety of tools to help us create Interaction
                Design outputs depending on the purpose, time available and what's "good enough" to meet the intended
                purpose.
              </p>
            </span>

          </summary>
          <span class="govuk-details__summary-text">
            <p class="govuk-!-margin-top-2 govuk-!-padding-left-5">Tools we use for IxD work:</p>

            <ul class="govuk-reason govuk-!-margin-top-0">
              <li>User journeys; anything that works e.g. pen and paper, post-its, Figma...</li>
              <li>High level concepts for problem solving and discussion; Figma</li>
              <li>Interactive prototypes, ready for UR; GDS prototyping kit and Visual Studio</li>
              <li>Collaboration; anything that works e.g. Lucidspark, Figjam, Figma, pen and paper</li>
            </ul>
          </span>
        </details>-->

        <!--theme 6 - Documentation-->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Our IxD documentation</h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">Interaction Design is about
                more than just prototyping and
                journey mapping - we have other design outputs which help us to do our work, help with onboarding new
                team members and to better support or pick up each other's work.
              </p>
            </span>
          </summary>

          <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">Documentation we create, maintain
            and use:</p>
            <ul class="govuk-!-margin-top-0">
              <li>'Things' which help us to track of and document design rationale of our work:</li>
              <ul>
                <ul class="govuk-!-margin-top-0">
                  <li>Design backlog for future consideration</li>
                  <li>Collaborative Design Review feedback (design decisions made, why and any alternative designs)</li>
                  <li>Design histories</li>
                  <li>Agreed consistent approach to prototype versioning</li>
                </ul>
                <br>

                <li>'Things' which help us stay up to date with each other</li>
                <ul class="govuk-!-margin-top-0">
                  <li>IxD updates document (updated weekly)</li>
                  <li>Clan Trello board for logging and tracking actions from Clan sessions</li>
                  <li>Clan slack channel</li>
                </ul>
                <br>
                <li>'Things' we share and work on together</li>
                <ul>
                  <li>Shared, reusbale Figma design library</li>
                  <li>Central location for easy access to our IxD and Clan work</li>
                  <li>Service differences Lucidspark board</li>
                  <li>Behavioural needs Lucidspark board</li>
                  <li>Clan foundation activities Lucidspark boards</li>
                </ul>
              </ul>
              </span>
        </details>


        <!--x theme 6 - Documentation--
        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Ouiuhiuhir IxD documentation</h2>
              <p class="govuk-reason govuk-!-margin-bottom-0">Interaction Design is about more than just prototyping and
                journey mapping - we have other design outputs which help us to do our work, help with onboarding new
                team members and to better support or pick up each other's work.
              </p>
            </span>

          </summary>
          <span class="govuk-details__summary-text">

            <p class="govuk-reason govuk-!-padding-left-5 govuk-!-margin-top-4">Documentation we create, maintain and
              use:</p>

            <ul class="govuk-reason">
              <li>'Things' which help us to track of and document design rationale of our work:</li>
              <ul>

                <li>Design backlog for future consideration</li>
                <li>Collaborative Design Review feedback (design decisions made, why and any alternative designs)</li>
                <li>Design histories</li>
                <li>Agreed consistent approach to prototype versioning</li>
              </ul>
              <br>

              <li>'Things' which help us stay up to date with each other</li>
              <ul class="govuk-reason">
                <li>IxD updates document (updated weekly)</li>
                <li>Clan Trello board for logging and tracking actions from Clan sessions</li>
                <li>Clan slack channel</li>
              </ul>
              <br>
              <li>'Things' we share and work on together</li>
              <ul>
                <li>Shared, reusbale Figma design library</li>
                <li>Central location for easy access to our IxD and Clan work</li>
                <li>Service differences Lucidspark board</li>
                <li>Behavioural needs Lucidspark board</li>
                <li>Clan foundation activities Lucidspark boards</li>
              </ul>
            </ul>
          </span>
        </details>-->
        <!--theme 7 - working as a clan -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-0">Working as a Clan</h2>
              <p class="govuk-summary-black govuk-!-margin-top-0 govuk-!-margin-bottom-0">Adopting a collaborative and
                supportive Clan culture is
                essential for us to build and grow as a team to deliver our best work.
              </p>
            </span>
          </summary>

          <div class="govuk-details__text govuk-!-font-size-16 govuk-!-margin-top-0">How we work as a Clan:</p>
            <ul class="govuk-!-margin-top-0">
              <li>Communicate with each other</li>
              <ul>
                <li>Celebrate successes</li>
                <li>Slack channel so we can communicate quickly</li>
                <li>Regular catch ups for wellbeing and relationship building</li>
                <li>Weekly IxD updates document to keep up to date with each other</li>
              </ul>
              <br>
              <li>Share skills, knowlege and experiences</li>
              <ul>
                <li>Share our work in a central location e.g. prototypes, journey maps, patterns...</li>
                <li>Weekly collaborative Design Reviews (keep up-to-date, explore alternatives, get and give feedback
                  and improve consistency between the services)</li>
                <li>Coaching - share knowledge, skills and experiences so we learn from each other/together</li>
                <li>Discuss topics of interest</li>
                <li>Co-design workshops so we can support each other or learn</li>
              </ul>
              <br>


              <li>Improve delivery of services</li>
              <ul>
                <li>Compare services for consistency</li>
                <li>Maintain a backlog of identified opportunities for improvements</li>
                <li>Identify and collaborate on new patterns</li>
              </ul>
              <br>

              <li>Evolve the Clan</li>
              <ul>
                <li>Activities to evolve the Clan together so we grow together</li>
                <li>Create our Clan plan together so we're sharing doing what we want as a collective</li>
              </ul>

            </ul>
          </div>
          </span>
        </details>

        <!--xx theme 7 - working as a clan --
        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-0">Working as a Clan</h2>
              <p class="govuk-reason govuk-!-margin-bottom-3">Adopting a collaborative and supportive Clan culture is
                essential for us to build and grow as a team to deliver our best work.
              </p>
            </span>
          </summary>

          <!--principle 1--

          <p class="govuk-reason govuk-!-margin-bottom-0 govuk-!-padding-left-5">How we work as a Clan:</p>


          <ul class="govuk-reason govuk-!-margin-top-1 govuk-!-padding-left-9">
            <li>Communicate with each other</li>
            <ul>
              <li>Celebrate successes</li>
              <li>Slack channel so we can communicate quickly</li>
              <li>Regular catch ups for wellbeing and relationship building</li>
              <li>Weekly IxD updates document to keep up to date with each other</li>
            </ul>
            <br>
            <li>Share skills, knowlege and experiences</li>
            <ul>
              <li>Weekly collaborative Design Reviews (keep up-to-date, explore alternatives, sget and give feedback and
                improve consistency between the services)</li>
              <li>Coaching - share knowledge, skills and experiences so we learn from each other/together</li>
              <li>Discuss topics of interest</li>
              <li>Co-design workshops so we can support each other or learn</li>
            </ul>
            <br>


            <li>Improve delivery of services</li>
            <ul>
              <li>Compare services for consistency</li>
              <li>Maintain a backlog of identified opportunities for improvements</li>
              <li>Identify and collaborate on new patterns</li>
            </ul>
            <br>

            <li>Evolve the Clan</li>
            <ul>
              <li>Activities to evolve the Clan together so we grow together</li>
              <li>Create our Clan plan together so we're sharing doing what we want as a collective</li>
            </ul>

          </ul>

        </details>-->

        <!--theme 8 collaborating with other clans -->

        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">

              <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">Collaborating with other Clans
              </h2>

              <p class="govuk-reason govuk-!-margin-bottom-0">For a truly User Centred Design (UCD) approach, the
                different professions need to work together to meet user needs.
              </p>
            </span>
          </summary>

          <!--CD Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with
                  Content Designers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
           
          </details>

          <!--UR Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with User
                  Researchers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
        
          </details>


          <!--Dev Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with 
                  Developers</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
          
          </details>


          <!--BA Clan-->
          <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
            <summary class="govuk-details__summary govuk-!-margin-top-1">
              <span class="govuk-details__summary-text">
                <div class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">Collaborating with 
                  Business Analysts</div>
              </span>
            </summary>
            <p class="govuk-!-margin-bottom-0 govuk-!-padding-left-5">Best practice guidance:</p>
           
          </details>


        </details>



      </div>


    </div>


  </main>
</div>

{% endblock %}