{% extends "layout.html" %}

{% block pageTitle %}
Who we are
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">
        Who we are
      </h1>
      <!--<div class="govuk-panel__body">-->

      <div>
        <h2>The Interaction Designers</h2>
      </div>
    </div>

    <p>A dedicated group of Interaction Designers, delivering services to meet user needs. </p>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-4">
        <p class="govuk-!-padding-left-9"><img src="{{ asset_path }}images/anne.jpg" alt="" width=80% height=80%></p>
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-0">
        <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">Anne Chan</h2>
        <h3 class="govuk-!-margin-top-0">IxD Clan Lead / Senior Interaction Designer</h3>
        <p class="govuk-!-margin-bottom-0">Project team: Cross-cutting</p>
        <p>Location: Sheffield</p>
      </div>
    </div>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
        <p class="govuk-!-padding-left-9"><img src="{{ asset_path }}images/claudia.jpg" alt="" width=80% height=80%>
        </p>
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-0"> 
      <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">Claudia Escorcia</h2>
      <h3 class="govuk-!-margin-top-0">Interaction Designer</h3>
      <p class="govuk-!-margin-bottom-0">Project team: Support services</p>
      <p>Location: Cambridge</p>
    </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
        <p class="govuk-!-padding-left-9"><img src="{{ asset_path }}images/rinto.jpg" alt="" width=80% height=80%></p>
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-0">
        <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">Rinto Cyriac</h2>
        <h3 class="govuk-!-margin-top-0">Interaction Designer</h3>
        <p class="govuk-!-margin-bottom-0">Project team: Manage an Academy Transfer</p>
        <p>Location: Manchester</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
        <p class="govuk-!-padding-left-9"><img src="{{ asset_path }}images/steve.jpg" alt="" width=80% height=80%></p>
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-0">
      <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">Steve O'Connor</h2>
      <h3 class="govuk-!-margin-top-0">Interaction Designer</h3>
      <p class="govuk-!-margin-bottom-0">Project team: Concerns Casework</p>
      <p>Location: Cambridge</p>

    </div>
    </div>
    

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
        <p class="govuk-!-padding-left-9"><img src="{{ asset_path }}images/tracy.jpg" alt="" width=80% height=80%></p>
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-0">
        <h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">Tracy Marshall</h2>
        <h3 class="govuk-!-margin-top-0">Interaction Designer</h3>
        <p class="govuk-!-margin-bottom-0">Project team: Manage an Academy Conversion</p>
        <p>Location: Manchester</p>
      </div>
    </div>


  



</div>

</main>
</div>

{% endblock %}