{% extends "layout.html" %}

{% block pageTitle %}
Principles and good practice
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to contents</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper--autospacing" id="main-content" role="main">

    <div class="govuk-panel govuk-panel--banner">
      <h1 class="govuk-panel__title">Principles and good practice</h1>
      <p></p>
    </div>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        <p>
          As a Clan we have pulled together a set of principles and good practices which we use for Interaction Design
          to provide consistency and guidance to how we apply design rationale and practices leading to improved
          interaction design and a
          better user experience.
        </p>





        <!--principle 1-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-5">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">1. Understand ALL users; needs,
                behaviours and pain points</h2>
            </span>
          </summary>
        <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that we are meeting all types of user needs for ALL users.</p>
          <div class="govuk-details__text">User needs come in different forms; designing for
            information-based and task-based needs will lead to services which allow users to accomplish their tasks
            while designing for behaviour-based needs improves the experience as it will have been designed for how they
            use the service and avoids 'fudges' and workarounds. 
     
            <p class="govuk-!-margin-top-5">Good practice includes:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Understand the research insights</li>
              <li>Use needs-based personas</li>
              <li>Consider both user (including accessibility) and business needs</li>
              <li>Fix or mitigate user pain points</li>
              <li>Factor in user behaviours</li>
              <li>Understand 'how' the user does xyz</li>
              <li>Understand 'why' the user does xyz</li>
              <li>Think about what's missing (to feed into UR/workshops)</li>
            </ul>
          </div>
        </details>

        <!--principle 2-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-2">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">2. Design accessibly</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that we are inclusive.</p>
          <div class="govuk-details__text">Designing for accessibly from the start reduces rework and time, is morally
            the right thing to do and is a legal requirement. 
            <p class="govuk-!-margin-top-5">Good practice includes:</p>
              <ul class="govuk-!-padding-left-9">
                <li>Use sufficient colour contrast</li>
                <li>Use industry recommended sizes for interactive elements</li>
                <li>Design structure (headings, lists...)</li>
                <li>Visually indicate the page focus</li>
                <li>Avoid images of text</li>
                <li>Do not use colour alone to convey meaning</li>

              </ul>
          </div>

        </details>
        <!--principle 3-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-1">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">3. Follow Gestalt laws</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that we design for natural human perception.</p>
          <div class="govuk-details__text">Gestalt laws are principles which relate to how people naturally perceive
              visual stimuli, group things together and simplify complex objects. Designers should use these to organise
              content to maximise natural perception:
            <ul class="govuk-!-padding-left-9">
              <li>Law of proximity</li>
              <li>Law of closure</li>
              <li>Law of similarity</li>
              <li>Law of continuity</li>
            </ul>
          </div>
        </details>
        <!--page for law of continuity is not available on lawsofux and there's no link just to gestalt laws
            <li>Law of proximity<a href="https://lawsofux.com/law-of-proximity" class="govuk-link" rel="noreferrer noopener" target="_blank"> Read Law of proximity on lawsofux.com (opens in new tab)</a></li>
          <li>Law of closure<a href="https://lawsofux.com/law-of-closure" class="govuk-link" rel="noreferrer noopener" target="_blank"> Read Law of closure on lawsofux.com (opens in new tab)</a></li>
          <li>Law of similarity<a href="https://lawsofux.com/law-of-similarity" class="govuk-link" rel="noreferrer noopener" target="_blank"> Read Law of similarity on lawsofux.com (opens in new tab)</a></li>
          <li>Law of continuity<a href="" class="govuk-link" rel="noreferrer noopener" target="_blank"> Read Law of continuity on lawsofux.com (opens in new tab)</a></li>-->



        <!--principle 4-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-1">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">4. Reduce cognitive load</h2>
            </span>
          </summary>

          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that we don't overload users.</p>
          <div class="govuk-details__text">Unnecessary demands being made on users' mental capacity when completing a task can lead to
              feeling overwhelmed, anxious and frustrated while increasing mistakes. We should design to support user's
              short-term memory capacity and allow them to focus on one task at a time.
            <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Design for recognition over recall</li>
              <li>Use summary pages to playback to users</li>
              <li>Miller's law (chunking) to help memory limitations</li>
              <li>Map to existing mental models</li>
              <li>Avoid visual clutter</li>
              <li>Let users reveal more detailed information only if they need it (for easier scanning)</li>
              <li>Make it easy to compare data from different sources</li>
              <li>Allow reference material to open in a new window</li>
              <li>Use of all elements on the page headings, hint text labels</li>
            </ul>
          </div>
        </details>


        <!--principle 5-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-1">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">5. Support / prevent users making
                mistakes</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that users make less errors and can recover from mistakes.</p>
          <div class="govuk-details__text">Making mistakes can be frustrating and increase anxiety when users are interacting with a service. To avoid these negative emotions, we should design to reduce in the incidence of errors but also for recovery when mistakes do occur.
            <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Allow users to undo actions</li>
              <li>Think error recovery and error prevention</li>
              <li>Provide confirmation of actions e.g. save and delete</li>
              <li>Make users explicity confirm destructive actions e.g. are you sure you want to delete?</li>
              <li>Provide logical options for checkboxes / radio buttons</li>
              <li>Add helpful context e.g. hint text</li>
              <li>Include helpful validation messages</li>
         
            </ul>
          </div>
        </details>


        <!--principle 6-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-1">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">6. Make users do less</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that the experience is faster and easier for users.</p>   
          <div class="govuk-details__text">A series of additional interactions add up to an experience littered with unnecessary interactions which slow the user down and increase effort. Remove unnecessary interactions when the user can achieve the same goal with less effort and it doesn't impact on their ability to process information. What seems like small interactions will add up to incremental improvements to the overall experience.  
          <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Pre-populate, auto filter, remove redundancies</li>
              <li>Reduce scrolling (use back to top, anchor links)</li>
              <li>Fitt's law - time relative to size and distance</li>
              <li>Reduce repetitive interactions, (multiple instead of individual) </li>
            </ul>
          </div>
        </details>


        <!--principle 7-->
      
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-2">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">7. Consider context</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that we are designing for user's circumstances and so users understand their circumstances in relation to using the service.</p>
            <div class="govuk-details__text">Understanding users' circumstances helps us to design for their constraints, while providing context helps users to understand where they are, what they can to do next...etc. 
              Providing information / functionality in context (at the point the user is most likely to need it) saves the user hunting for it or missing it altogether.
       
       <br>
       <br>      
        All these context related considerations should help manage user expectations, leading to a clearer experience.
   
            <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Avoid dead-ends</li>
              <li>Explain what will happen next</li>
              <li>Tell users what they need</li>
              <li>Access to / content at the point users need it</li>
              <li>Indicate timescales</li>
              <li>Consider the end-2-end journey</li>
              <li>Consider environment, IT confidence, pressures and constraints</li>
              <li>Provide timely system feedback</li>
            </ul>
          </div>
        </details>


        <!--principle 8-->
        <details class="govuk-details govuk-!-padding-left-5 govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-2">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">8. Design a seamless experience
              </h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that the user experience is familiar and predictable.</p>

          <div class="govuk-details__text">Users learn how a service looks and works as they are using it. By having consistent designs and interactions, we are helping users to learn more quickly, building on their familarity and re-enforcing their mental models of how to interact with the services. 
         
             <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Re-use patterns / code where possible and appropriate to conform with user expectations</li>
              <li>Avoid bespoke designs where possible</li>
              <li>Make sure systems look / behave the same</li>
            </ul>
          </div>
        </details>



        <!--principle 9-->
        <details class="govuk-details govuk-!-padding-left-5  govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-top-1">
            <span class="govuk-details__summary-text">
              <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-0">9. Design with data and design
                logic</h2>
            </span>
          </summary>
          <br>
          <p class="govuk-reason govuk-!-padding-left-5">...so that everything is grounded in insights and has design rationale.</p>
      
          <div class="govuk-details__text">Insights and design rationale are essential to designing services which meet user needs and expectations rather than creating shiny new functionality which confuses users, is unused or even hinders their use of the service. 
            <p class="govuk-!-margin-top-5">Good practice guidance:</p>
            <ul class="govuk-!-padding-left-9">
              <li>Designs are testing hypothesis</li>
              <li>Features are fulfilling a user need</li>
              <li>Design rationale exists for design decisions</li>
              <li>Follow User Centred Design best practice</li>
              <li>Remove unnecessary components which are not intent driven or do not add value</li>
            </ul>
          </div>
        </details>




        </details>


      </div>



    </div>
  </main>
</div>

{% endblock %}